<?php
namespace gries\Pokemath;

use gries\NumberSystem\NumberSystem;

class PokeNumberSystem extends NumberSystem
{
    public function __construct()
    {
        parent::__construct([
SYMBOLS            ], '#');
    }
}